<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", {title: "Campaigns To Validate" }); %>
    <body>
        <%- include("./partials/nav_bar.ejs"); %>
            <div class="container py-5">
                <h1 class="mb-4">New Campaigns</h1>
                <p class="text-muted mb-4">Here are the new campaigns that required to be validated:</p>
                <!-- Campaigns list -->
                <div class="row g-4">
					<% campaigns.forEach(campaign => { %>
						<!-- Campaigns list -->
						<div class="col-md-6">
							<div class="p-4 d-flex flex-column"
								style="background-color: #d6e8d6; height: 100%; position: relative; overflow: hidden; border-radius: 50px;">
								<!-- Top Content with Image and Text Side by Side -->
								<div class="d-flex" style="flex-grow: 1;">
									<div class="flex-grow-1" style="margin-right: 5px;">
										<h3 class="mb-3"><%= campaign.title %></h3>
										<div class="d-flex align-items-center mb-3">
											<img src="<%= campaign.creator.profilePicture 
													  ? `data:image/gif;base64,${ campaign.creator.profilePicture }` 
													  : "/images/profile.png" %>" 
												 alt="creator_profile" 
												 class="rounded-circle me-3"
												 style="width: 2em; height: 2em;">
											<span>by <b><%= campaign.creator.username %></b></span>
										</div>
										<p class="mb-3"><b>Description: </b><%= campaign.description %></p>
										<p class="mb-3"><b>Goal: </b><%= campaign.goal %> €</p>
									</div>
									<!-- Placeholder Image on the Right -->
									<div
										style="width: 30%; max-height: calc(100% - 60px); aspect-ratio: 1 / 1; background-color: #c4c4c4; border-radius: 30px; flex-shrink: 0;">
									</div>
								</div>
								<div class="d-flex justify-content-center gap-3 mt-4">
									<form action="", method="POST">
										<input type="hidden" name="campaignRequestId" value=<%= campaign.campaignRequestId %>>
										<input type="hidden" name="status" value="Approved">
										<button type="submit" class="btn btn-success"
											style="border-radius: 50px;">Approve</button>
									</form>
									<form action="", method="POST">
										<input type="hidden" name="campaignRequestId" value=<%= campaign.campaignRequestId %>>
										<input type="hidden" name="status" value="Rejected">
										<button type="submit" class="btn btn-danger"
											style="border-radius: 50px;">Reject</button>
									</form>
								</div>
							</div>
						</div>
					<% }) %>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>
